<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bem-vindo a tela de <%= title %></h1>

    <form action="http://localhost:3000/cadastrar-produto" method="POST" style="border-radius: 5px; border: 3px solid black; padding: 3px 7px;">
        <h3>Adicione uma produto.</h3>
        Id: <%= idProduto%>
        <input type="hidden" type="number" name="id" value="<%=idProduto%>"><br>

        Nome:<input type="text" name="nome" value="" style="margin: 10px;"><br>
        Categoria: 
        <select type="text" name="categoria" value="">
          <% aCategorias.forEach(function(obj) { %>
            <option name="categoria" value="<%= obj.chave%>"><%= obj.valor%></option>
          <% }); %>
        </select><br>
          
        Descrição:<input type="text" name="descricao" value="" style="margin: 10px;"><br>
        Preço:<input type="text" name="preco" value="" style="margin: 10px;"><br>
        <input type="submit" value="Cadastrar">
    </form>
  </body>
</html>