<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8" />
    <meta name="description" content="Prática de desenvolvimento web" />
    <meta name="keywords" content="HTML,CSS,XML,JavaScript" />
    <meta name="author" content="Igor Vinícius Santos Abreu" />
    <style>
        .spaco{
            padding: 3px
        }
    </style>
  </head>

  <body>
    <div>
      <header>
        <h1>Bem vindo a tela de <%= title %></h1>
      
        <a href="http://localhost:3000/"><button>Voltar</button></a>
        <a href="http://localhost:3000/cadastrar-produto"><button style="margin: 5px; padding: 2px;">Cadastrar produto</button></a>
      </header>
      <br>

      <div>
      <table style="border: 3px solid #000;">
        <tr style="font-weight: 700;">
          <td class="spaco">Id</td>
          <td class="spaco">Categoria</td>
          <td class="spaco">Nome</td>
          <td class="spaco">Descrição</td>
          <td class="spaco">Preço</td>
          <td></td>
        </tr>
 
        <% aProdutos.forEach(function(obj) { %>
          <% j=0 %>
          <% aCat.forEach(function(cat) {%>
            
          <% });%>

          <tr>
            <td class="spaco"><%=obj.id%></td>
            <td class="spaco"><%=aCat[0].valor%></td>
            <td class="spaco"><%=obj.nome%></td>
            <td class="spaco"><%=obj.descricao%></td>
            <td class="spaco"><%=obj.preco%></td>
            <td><a href="http://localhost:3000/produto-editar?id=<%=obj.id%>"><button>Editar</button></a></td>
          </tr>
        <% }); %>

      </table>
    </div>
    <br>
    </div>
  </body>
</html>