<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bem-vindo a tela de <%= title %></h1>

    <form action="http://localhost:3000/produto-editar" method="POST" style="border-radius: 5px; border: 3px solid black; padding: 3px 7px;">
        <h3>Adicione uma produto.</h3>
        Id: <%= tId%>
        <input type="hidden" type="number" name="id" value="<%= tId%>"><br>

        Nome:<input type="text" name="nome" value="" style="margin: 10px;"  placeholder="<%= tNome%>"><br>
        Categoria: 
        <select>
          <% aCategorias.forEach(function(obj) { %>
            <option value="<%= obj.chave%>"><%= obj.chave%></option>
          <% }); %>
        </select><br>
          
        Descrição:<input type="text" name="descricao" value="" style="margin: 10px;" placeholder="<%= tDescricao%>"><br>
        Preço:<input type="text" name="preco" value="" style="margin: 10px;" placeholder="<%= tPreco%>"><br>
        
        <input type="submit" value="Salvar">
    </form>
  </body>
</html>